@model ObligatorioProgramacion3.Models.Maquina

@{
    ViewData["Title"] = "Create"; // Establece el título de la página en "Create"
    if (ViewBag.Locales == null)
    {
        ViewBag.Locales = new SelectList(new List<Local>(), "Id", "Nombre"); // Inicializa la lista de locales si está vacía
    }
    if (ViewBag.TiposMaquina == null)
    {
        ViewBag.TiposMaquina = new SelectList(new List<TipoMaquina>(), "Id", "Nombre"); // Inicializa la lista de tipos de máquina si está vacía
    }
}

<link rel="stylesheet" href="~/css/maquinas.css" asp-append-version="true" />

<h4 class="display-4 text-center">Agregar Máquina</h4> <!-- Encabezado principal de la página -->
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div> <!-- Resumen de validación -->
            <div class="form-row d-flex mb-2">
                <div class="form-group col-md-6">
                    <label asp-for="Nombre" class="control-label"></label> <!-- Etiqueta para el campo "Nombre" -->
                    <input asp-for="Nombre" class="form-control" /> <!-- Campo de entrada para "Nombre" -->
                    <span asp-validation-for="Nombre" class="text-danger"></span> <!-- Mensaje de validación para "Nombre" -->
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="FechaCompra" class="control-label"></label> <!-- Etiqueta para el campo "FechaCompra" -->
                    <input asp-for="FechaCompra" class="form-control" /> <!-- Campo de entrada para "FechaCompra" -->
                    <span asp-validation-for="FechaCompra" class="text-danger"></span> <!-- Mensaje de validación para "FechaCompra" -->
                </div>
            </div>
            <div class="form-row d-flex mb-2">
                <div class="form-group col-md-6">
                    <label asp-for="PrecioCompra" class="control-label"></label> <!-- Etiqueta para el campo "PrecioCompra" -->
                    <input asp-for="PrecioCompra" class="form-control" /> <!-- Campo de entrada para "PrecioCompra" -->
                    <span asp-validation-for="PrecioCompra" class="text-danger"></span> <!-- Mensaje de validación para "PrecioCompra" -->
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="VidaUtil" class="control-label"></label> <!-- Etiqueta para el campo "VidaUtil" -->
                    <input asp-for="VidaUtil" class="form-control" /> <!-- Campo de entrada para "VidaUtil" -->
                    <span asp-validation-for="VidaUtil" class="text-danger"></span> <!-- Mensaje de validación para "VidaUtil" -->
                </div>
            </div>
            <div class="form-row d-flex mb-2">
                <div class="form-group col-md-6">
                    <label asp-for="LocalAsociadoId" class="control-label">Local Asociado</label> <!-- Etiqueta para el campo "LocalAsociadoId" -->
                    <select asp-for="LocalAsociadoId" class="form-control custom-select" asp-items="ViewBag.Locales"></select> <!-- Campo de selección para "LocalAsociadoId" -->
                    <span asp-validation-for="LocalAsociadoId" class="text-danger"></span> <!-- Mensaje de validación para "LocalAsociadoId" -->
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="TipoMaquinaId" class="control-label">Tipo Máquina</label> <!-- Etiqueta para el campo "TipoMaquinaId" -->
                    <select asp-for="TipoMaquinaId" class="form-control custom-select" asp-items="ViewBag.TiposMaquina"></select> <!-- Campo de selección para "TipoMaquinaId" -->
                    <span asp-validation-for="TipoMaquinaId" class="text-danger"></span> <!-- Mensaje de validación para "TipoMaquinaId" -->
                </div>
            </div>
            <div class="form-group form-check mb-2">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Disponible" /> @Html.DisplayNameFor(model => model.Disponible) <!-- Campo de selección para "Disponible" -->
                </label>
            </div>
            <div class="form-group text-center mt-4">
                <input type="submit" value="Agregar" class="btn btn-principal btn-md" /> <!-- Botón para enviar el formulario -->
                <a asp-action="Index" class="btn btn-secondary btn-md ml-2">Volver</a> <!-- Botón para volver al índice -->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); // Script para la validación del formulario
    }
}
