@{
    ViewData["Title"] = "Privacy Policy"; // Establece el título de la página en "Privacy Policy"
}

<h1>@ViewData["Title"]</h1> // Muestra el título de la página usando el valor de ViewData["Title"]

<p>Use this page to detail your site's privacy policy.</p> // Párrafo que indica al usuario que utilice esta página para detallar la política de privacidad del sitio
