@model ObligatorioProgramacion3.Models.Socio

@{
    ViewData["Title"] = "Edit"; // Establece el título de la página como "Edit"
}

<link rel="stylesheet" href="~/css/socios.css" asp-append-version="true" />

<h4 class="display-4 text-center" style="margin-top: 100px;">Editar Socio</h4>
<hr />
<div class="row justify-content-center">
    <div class="col-md-8">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div> <!-- Muestra un resumen de validación de errores -->
            <input type="hidden" asp-for="Id" /> <!-- Campo oculto para el ID del socio -->
            <div class="form-row d-flex mb-2">
                <div class="form-group col-md-6 mb-4">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" /> <!-- Campo de entrada para el email -->
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label asp-for="Nombre" class="control-label"></label>
                    <input asp-for="Nombre" class="form-control" /> <!-- Campo de entrada para el nombre -->
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row d-flex mb-2">
                <div class="form-group col-md-6 mb-4">
                    <label asp-for="Apellido" class="control-label"></label>
                    <input asp-for="Apellido" class="form-control" /> <!-- Campo de entrada para el apellido -->
                    <span asp-validation-for="Apellido" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label asp-for="Telefono" class="control-label"></label>
                    <input asp-for="Telefono" class="form-control" /> <!-- Campo de entrada para el teléfono -->
                    <span asp-validation-for="Telefono" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row d-flex mb-4">
                <div class="form-group col-md-6 mb-4">
                    <label asp-for="TipoSocioId" class="control-label"></label>
                    <select asp-for="TipoSocioId" class="form-control custom-select" asp-items="ViewBag.TipoSocioId"></select> <!-- Selector para el tipo de socio -->
                    <span asp-validation-for="TipoSocioId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6 mb-4">
                    <label asp-for="LocalAsociadoId" class="control-label"></label>
                    <select asp-for="LocalAsociadoId" class="form-control custom-select" asp-items="ViewBag.LocalAsociadoId"></select> <!-- Selector para el local asociado -->
                    <span asp-validation-for="LocalAsociadoId" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group text-center mt-4">
                <input type="submit" value="Guardar" class="btn btn-principal btn-md" /> <!-- Botón para guardar los cambios -->
                <a asp-action="Index" class="btn btn-secondary btn-md ml-2 align-middle">Volver</a> <!-- Enlace para volver al índice -->
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial"); // Incluye los scripts de validación
    }
}
